<!DOCTYPE html>
<html>

<head>
    <title>Henshaws</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="main-header">
        <div class="container">
            <div class="logo">
                <h1>Henshaws</h1>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Abot Us</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main">
        <h1 class="search-header">Search for Info</h1>
        <form method="post">
            <input type="text" placeholder="inter something">
            <input type="submit" value="Submit">
        </form>
        <div class="description">
            <p>
                Will explain how this app work
            </p>    
        </div> 
    </div>
    <div id="searchResult"></div>
    <script src="./js/customize.js"></script>
</body>

</html>