<!DOCTYPE html>
<html>

<head>
    <title>Henshaws</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="main-header">
        <div class="container">
            <div class="logo">
                <h1>Henshaws</h1>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Abot Us</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main">
        <h1 class="search-header">Search for Info</h1>
        <form method="post">
            <input type="text" placeholder="inter something">
            <input type="submit" value="Submit">
        </form>
        <div class="description">
            <h1>Title</h1>
            <p>Will explain how this app work. He accused Iran of sowing "fear and destruction" in several countries, including
                Lebanon. Mr Hariri's father, former prime minister Rafik al-Hariri, was assassinated in 2005. The Hariri
                family is close to Saudi Arabia, Iran's regional competitor. Mr Hariri has been prime minister since December
                2016, after previously holding the position between 2009 and 2011. "We are living in a climate similar to
                the atmosphere that prevailed before the assassination of martyr Rafik al-Hariri," he said in the broadcast
                from the Saudi capital Riyadh.
            </p>
        </div>
    </div>
    <div id="searchResult"></div>
    <script src="./js/customize.js"></script>
</body>

</html>