<!DOCTYPE html>
<html>

<head>
    <title>Henshaws</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="main-header">
        <div class="container">
            <div class="logo">
                <h1>Henshaws</h1>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Abot Us</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main">
        <h1 class="search-header">Submit Website</h1>
        <form method="post">
            <input type="text" placeholder="Enter the URL of the website you want to translate...">
            <input type="submit" value="Submit">
        </form>
        <div class="description">
            <h1>How does this app work?</h1>
            <p>This application helps visually impaired users better understand 
                content that appears online by translating images to texts. 
            </p>
        </div>
    </div>
    <footer>
        <div>
            <img src="#" logo/>
        </div>
        <div>
            <ul>
                <li>something</li>
                <li>soemthing</li>
                <li>soemthing</li>
            </ul>
        </div>
        <div>
            CYF (CodeYourFuture)
        </div>
    </footer>
    <div id="searchResult"></div>
    <script src="./js/customize.js"></script>
</body>

</html>