
<div class="container">
<header class="header-container">
        <div class="row">
            <div class="col-sm">
                <div class="navbar">
                    <div class="nav-brand">
                        <div class="logo">
                            <h1>GiveMeText</h1>
                        </div>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="">Home</a>
                        <a class="nav-item nav-link" href="">About Us</a>
                        <a class="nav-item nav-link" href="">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main row">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="search-header">Search for Info</h1>
            <form method="post">
                <input type="text" placeholder="enter URL">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div id="searchResult"></div>

</div>