<div class="container">
    <header class="header-container">
        <div class="row">
            <div class="col-sm">
                <div class="navbar">
                    <div class="nav-brand">
                        <div class="logo">
                            <h1>GiveMeText</h1>
                        </div>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="">Home</a>
                        <a class="nav-item nav-link" href="">About Us</a>
                        <a class="nav-item nav-link" href="">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main row">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="search-header">Search for Info</h1>
            <form method="post">
                <input type="text" placeholder="enter URL">
                <input type="submit" value="Submit">
            </form>
            <div class="description">
                <h1>How does this app work?</h1>
                <p>This application helps visually impaired users better understand content that appears online by translating
                    images to texts.
                </p>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="#" logo/>
                    </div>
                    <div class="col">
                        what are we going to write here?
                    </div>
                    <div class="col">
                        CYF (CodeYourFuture)
                    </div>
                </div>
            </div>
        </footer>
        <div id="searchResult"></div>

    </div>