<div class="container-background">
    <div class="main-container">
        <div class="container">
            <header class="header-container">
                <div class="navbar">
                    <div class="nav-brand">
                        <div class="logo">
                            <h1>ImageToText</h1>
                        </div>
                    </div>
                    <div class="navbar-nav">
                        <a class="btn btn-info actived" href="/">Home</a>
                        <a class="btn btn-info" href="/aboutus">About Us</a>
                        <a class="btn btn-info" href="/contactus">Contact Us</a>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="main row">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="search-header">Search for Info</h1>
                <form method="post">
                    <input type="text" placeholder="Enter URL">
                    <input type="submit" value="Submit">
                </form>
                <div id="searchResult"></div>
                <div class="description">
                    <h1>How does this app work?</h1>
                    <p>This application helps visually impaired users better understand content that appears online by translating
                        images to texts.
                    </p>
                </div>
            </div>
        </header>
    </div>
</div>

<div class="container">
    <div class="main row">
        <footer>
            <div class="footer">
                <div class="row">
                    <div class="col">
                        <img src="#" logo/>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>