<!DOCTYPE html>
<html>

<head>

  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container-background">
    <div class="main-container">
      <div class="container">
        <header class="header-container">
          <div class="navbar">
            <div class="nav-brand">
              <div class="logo">
                <h1>ImageToText</h1>
              </div>
            </div>
            <div class="navbar-nav">
              <a class="btn btn-info actived" href="/">Home</a>
              <a class="btn btn-info" href="/aboutus">About Us</a>
              <a class="btn btn-info" href="/contactus">Contact Us</a>
            </div>
          </div>
        </header>
      </div>
    </div>
    {{{body}}}
    <footer class="container">
      <div class="footer-container">
        <div class="row">
          <div class="col-lg-4">
            <img class="footer-logo cyf-logo" src="https://camo.githubusercontent.com/d642ee80ce452440433edb83f9c552b079b0752d/68747470733a2f2f636f6465796f75726675747572652e636f2f7374617469632f6d656469612f6379665f6272616e642e66626365613837372e706e67"
              alt="codeyourfuture logo">
          </div>
          <div class="col-lg-4">
            <img class="footer-logo" src="https://search3.openobjects.com/mediamanager/newcastle/repository/images/henshaws_png/henshaws_display.png" alt="henshaw logo">
          </div>
          <div class="col-lg-4">
            <img class="footer-logo -logo" src="" alt=" logo">
          </div>
        </div>
        <div class="row copyright">
          <div class="col-lg-12">
            <h6> &copy All Rights Reserved - ImageToText 2017 </h6>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/imgConverter.js"></script>
</body>

</html>
