<div class="main-container">
    <div class="container">
        <header class="header-container">
            <div class="navbar">
                <div class="nav-brand">
                    <div class="logo">
                        <h1>ImageToText</h1>
                    </div>
                </div>
                <div class="navbar-nav">
                    <a class="btn btn-info" href="">Home</a>
                    <a class="btn btn-info" href="">About Us</a>
                    <a class="btn btn-info" href="">Contact Us</a>
                </div>
            </div>
        </header>
    </div>
</div>