body {
    font-family: 'PT Serif', serif;
}

.container-background {
    background: url(https://images.unsplash.com/photo-1496824000084-3b2dc58685d4?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat center center;
    background-size: cover;
}

h4 {
    font-style: bold;
    color: #c40b52;
}

.navbar {
    background: #e01c70;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.logo {
    width: 40%;
    float: left;
}

.navbar-nav .btn-info {
    color: #e01c70;
    background-color: #fff;
    border-color: #fff;
}

.navbar-nav .btn-info:hover {
    color: #fff;
    background-color: #e01c70;
    border-color: #fff;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: all .5s ease-in-out;
    padding-top: 30px;
}

.main-container>.container {
    padding-left: 0;
    padding-right: 0;
}

.main {
    text-align: center;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.main .search-header {
    padding: 0 0 30px 0;
    color: #e01c70;
}

.main input[type=text] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 50%;
}

.main input[type=submit] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 10%;
    background: #e01c70;
    color: white;
}

.description {
    background: #e01c70;
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 180px;
}

footer {
    background-color: #e01c70;
    min-height: 30px;
    text-align: center;
}

.footer-container {
    padding: 5px;
}

img {
    width: 120px;
    height: 80px;
}

.copyright {
    border: 1px solid yellow;
    padding-top: 5px;
    margin-top: 5px;
    background-color: lightgreen;
}

.cyf-logo {
    background: #fff;
}

.aboutus {
    margin-top: 40px;
}

.aboutusdescription {
    height: 220px;
    /* padding-top: 20px; */
}

.contact-description {
    margin-top: 13px;
    /* height: 280px; */
}

.message {
    height: 5px;
}