*{
    margin: 0;
    padding: 0;
}
body{
    background: #ccc;
    font-family: 'PT Serif', serif;    
}
.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: url(https://images.unsplash.com/photo-1496824000084-3b2dc58685d4?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat center center fixed;
}
.header-container{
    box-sizing: border-box;
    width: 80%; 
}
.navbar{
    background: #e01c70;
    color: #fff;
    display: flex;
    
    margin-top: 20px;
}
.logo{
    width: 40%;
    float: left;
}

.div.col-sm.header{
    display: flex;
    justify-content: center;
}
.nav a{
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 10px;
    border-radius: 4px;
}

.main{
    text-align: center;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}
.main .search-header{
    padding: 10px 0;
}
.main input[type=text]{
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 50%;
}

.main input[type=submit]{
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 10%;
    background: #e01c70;
}

.description {
    border: 2px solid orange;
    padding: 30px;
    margin-top: 50px;
    margin-left:180px;
    margin-right: 180px;
    margin-bottom: 150px;
}

footer {
    background-color: yellow;
    border: 2px solid blue;
}